.social-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  transition: transform 0.8s ease;
}

.social-icon:hover {
  transform: translateY(-5px);
  color: white;
}

.instagram {
  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
}
.btn:hover {
  transform: translateY(-5px);
  color: white;
  transition: transform 0.8s ease;
}